{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "overrides": [
    {
      "files": ["*.json", ".prettierrs"],
      "options": {
        "parser": "json-stringify"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "flow"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
