*.html
*.ttf
*.png
*.woff
*.woff2
*.txt
*.svg
*.ico
*.eot
*.snap
*.sh
.gitkeep
.gitignore
.browserslist
.Jenkinsfile
.editorconfig
*.xml
coverage/
dist/
.idea/
node_modules/
.stryker-temp/
.stryker-tmp/
reports/
backend/
dev-server/
config/
logs/
public/
acl/
.prettierignore
